*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-background: #082f49;
    --text-color: #e0f2fe;
}

body {
    background-color: var(--main-background);
    color: var(--text-color);
}